<app-navbar></app-navbar>
<app-swiper></app-swiper>
<div class="inputs">
  <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif; text-align: center;">Search character</h2>
<input type="text" [(ngModel)]="searchName" class="search" placeholder=" name" (input)="applyFilters()">
<div class="selects">
<select name="" id="" [(ngModel)]="searchGender" (ngModelChange)="applyFilters()">
    <option value="Gender">Gender (all)</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="unknown">unknown</option>
</select>
<select name="" id="" [(ngModel)]="searchStatus" (ngModelChange)="applyFilters()">
  <option value="status">status (all)</option>
  <option value="Alive">Alive</option>
  <option value="Dead">Dead</option>
  <option value="unknown">unknown</option>
</select>
<select name="" id="" [(ngModel)]="searchSpecies" (ngModelChange)="applyFilters()">
  <option value="Species">Species (all)</option>
  <option value="Human">Human</option>
  <option value="Alien">Alien</option>
</select>
</div>
</div>
<div class="allcards" >
<div class="card" style="width: 18rem;" *ngFor="let i of cardsArr">
    <img [src]="i.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Status:</strong> {{i.status}}</li>
      <li class="list-group-item"><strong>Gender:</strong> {{i.gender}}</li>
      <li class="list-group-item"><strong>Species:</strong> {{i.species}}</li>
    </ul>
    <div class="card-body">
      <button 
      routerLink="/alter"
      [queryParams]="{
      name:i.name,
      status:i.status,
      location:i.name,
      species:i.species
      }" 
      (click)="alterEgoPage()"
      class="card-link alterbtn">My Alter Egos</button>
      
    </div>
  </div>
</div>
