<app-navbar></app-navbar>
<app-swiper></app-swiper>
<div class="inputs">
<input type="text" [(ngModel)]="searchName" class="search" placeholder=" name" (input)="applyFilters()">
<div class="selects">
<select name="" id="" [(ngModel)]="searchGender" (ngModelChange)="applyFilters()">
    <option value="Gender">Gender (all)</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="unknown">unknown</option>
</select>
<select name="" id="" [(ngModel)]="searchStatus" (ngModelChange)="applyFilters()">
  <option value="status">status (all)</option>
  <option value="Alive">Alive</option>
  <option value="Dead">Dead</option>
  <option value="unknown">unknown</option>
</select>
<select name="" id="" [(ngModel)]="searchSpecies" (ngModelChange)="applyFilters()">
  <option value="Species">Species (all)</option>
  <option value="Human">Human</option>
  <option value="Alien">Alien</option>
</select>
</div>
</div>
<div class="allcards" style="display:flex; flex-wrap: wrap;">
<div class="card" style="width: 18rem;" *ngFor="let i of cardsArr">
    <img [src]="i.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Status:</strong> {{i.status}}</li>
      <li class="list-group-item"><strong>Gender:</strong> {{i.gender}}</li>
      <li class="list-group-item"><strong>Species:</strong> {{i.species}}</li>
    </ul>
    <div class="card-body">
      <a 
      routerLink="/alter"
      [queryParams]="{
      name:i.name,
      status:i.status,
      location:i.name,
      species:i.species
      }" 
      (click)="alterEgoPage()"
      class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>